<!-- left menu starts -->
<div class="span2 main-menu-span">
	<div class="well nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li class="nav-header hidden-tablet">Configuración</li>
			<li><a href="<%= url_for(root_url) %>"><i class="icon-home"></i><span class="hidden-tablet"> Cuadro de mandos</span></a></li>
			<li><a href="<%= url_for(ingredients_url) %>"><i class="icon-leaf"></i><span class="hidden-tablet"> Ingredientes</span></a></li>
			<li><a href="<%= url_for(recipes_url) %>"><i class="icon-book"></i><span class="hidden-tablet"> Recetas</span></a></li>
			<li class="nav-header hidden-tablet">Operaciones</li>
			<li><a href="<%= url_for(plans_url) %>"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendarios</span></a></li>
		</ul>
	</div><!--/.well -->
</div><!--/span-->
<!-- left menu ends -->